<div>
  <ul class="nav-item-list header">
    <li><i class="far fa-circle"></i></li>
    <a href="/"><li><p class="logo">Marked Fitness</p></li></a>
    <li><i class="fas fa-align-center"></i></li>
  </ul>
  <div class="navbar">
    <ul class="nav-item-list header-2">
      <a href="/about"><li>About</li></a>
      <a href="/contact"><li>Contact</li></a>
      <a href="/blogs"><li>Blog</li></a>
      <a href=""><li>Testimonials</li></a>
    </ul>
  </div>

</div>
