<div>
  <p class="logo">Marked Fitness</p>
  <div class="navbar">
    <ul class="nav-item-list">
      <li>About</li>
      <li>Contact</li>
      <li>Blog</li>
    </ul>
  </div>
</div>

<div class="main-content">
  <div>

  </div>

<div>
  <ul class="nav-item-list">
    <li>Facebook</li>
    <li>LinkedIn</li>
    <li>Instagram</li>
  </ul>
</div>

