// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Raleway;
  padding:0;
  height:100%;
}
.frame{
  position:relative;
  height:100vh;
}
//Navbar

.logo{
  text-align: center;
  font-family: 'Kavivanar', cursive;
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

.fa-circle, .fa-align-center{
  color:black;
}

.header{
  position: relative;
}


.navbar{
 background-color: #212529;
 color: white;
 margin: 0 auto;
 height: 70px;
 border-top: 3px solid #2C6F87;
}

.nav-item-list{
  display: flex;
  align-items: center;
  width: 800px;
  margin: 25px auto;
}

.header{
  justify-content: space-between;
}

.header-2{
  justify-content: space-around;
}

li{
  list-style: none;
  text-transform: uppercase;
  font-weight:      bold;
  text-decoration:  none;
  color: white;
  font-family: Raleway;
}

a{
  text-decoration:none;
}

//main content


.main-image{
  height: 66vh;
  width:100%;
  // background-color: lightblue;
  position: relative;
  background-image: url("pexels-photo-685530.jpeg")
}


.body-width{
  width: 1000px;
  margin: 0 auto;
  height: 62vh;
}

.body-height{

}

.main-content{
  display: flex;
  align-items: center;
  height: 68vh;
}

.blog{
  width:60%;
  margin: 0 auto;
}

.col{
  width: 45%;
}

.col-2{
  width:90%;
}

// footer

.footer{
  // background-color: #212529;
  background-color: black;
  height: 70px;
  width:100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index:999999999999;
}

.nav-item-list{
  padding: 20px;
  margin: 0 auto;
}
