<div class="blog body-width">
  <div class="body-height">
    <% @testimonials.each do |testimonial| %>
    <h2><%= testimonial.title %></h2>
    <p><%= testimonial.body %></p>
  <% end %>
  </div>
</div>
