<div class="blog body-width">
  <div>
    <% @testimonials.each do |testimonial| %>
      <% if testimonial.id % 2 == 1 %>
        <div class="left-testimonial">
          <h2><%= testimonial.name %></h2>
          <p><%= testimonial.content %></p>
        </div>
      <% else %>
        <div class="right-testimonial">
          <h2><%= testimonial.name %></h2>
          <p><%= testimonial.content %></p>
        </div>
      <% end %>
  <% end %>
  </div>
</div>
